---
import MarqueeSeparator from "./MarqueeSeparator.astro"

interface SectionProps {
  children: any
  title?: string
  color?: "background" | "accent" | "alt"
  bgImage?: string
}

const { title, color = "background", bgImage } = Astro.props as SectionProps

const colorClasses = {
  background: "bg-background",
  accent: "bg-accent",
  alt: "bg-alt",
}

const colorClass = colorClasses[color]
const textClass = color === "accent" ? "text-black" : "text-white"
---

<section class={`col-span-5 ${colorClass} ${textClass}`}>
  <MarqueeSeparator>{title}</MarqueeSeparator>
  {
    bgImage && (
      <img src={bgImage} alt={title} style="object-fit: cover; width: 100%; height: 100%;" />
    )
  }
  <div class="mx-auto max-w-6xl px-6 lg:px-8 py-16 lg:py-24">
    <slot />
  </div>
</section>
